SUPABASE_ACCESS_TOKEN=
SUPABASE_ORGANIZATION_SLUG=
SUPABASE_PROJECT_NAME=connektpay
SUPABASE_DB_PASSWORD=
SUPABASE_REGION=sa-east-1

VERCEL_TOKEN=
VERCEL_PROJECT_NAME=connektpay
VERCEL_TEAM_ID=
VERCEL_SCOPE=

